body{
  background-color: #F2F1EF;
  font-family: "Helvetica",sans-serif;
  margin: 0px;
}
.top-bar{
  background-color: #97BCC7;
  padding: 1% 2%;
  margin: 0;
  overflow:auto;
}
.main-menu{
  list-style-type: none;
}

.top-bar h3{
  display: block;
  float: left;
  font-size: 150%;
  margin-left: 5%;
  margin-right: 2%;
  color: #053D57;

}

.main-menu li a{
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  padding:  2px;
}

.main-menu li {
  float:left;
  margin: 1%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #F2F1EF;
}

.main-menu li:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.main-menu .active{
  background-color: rgb(204, 204, 204);
}

@media (min-width: 768px) {
    .main-menu li {
    padding: 0.25em 0.75em;
  }
}