:root {
    --color-1: #55aaaa;
    --color-2: #228888;
  }

  body{
    background-color: #F2F1EF;
    font-family: "Helvetica",sans-serif;
    margin: 0px;
  }
  .top-bar{
    background-color: #97BCC7;
    padding: 1% 2%;
    margin: 0;
    overflow:auto;
  }
  .main-menu{
    list-style-type: none;
  }
  
  .top-bar h3{
    display: block;
    float: left;
    font-size: 150%;
    margin-left: 5%;
    margin-right: 2%;
    color: #053D57;
  
  }
  
  .main-menu li a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding:  2px;
  }
  
  .main-menu li {
    float:left;
    margin: 1%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #F2F1EF;
  }
  
  .main-menu li:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  .main-menu .active{
    background-color: rgb(204, 204, 204);
  }
  
  @media (min-width: 768px) {
      .main-menu li {
      padding: 0.25em 0.75em;
    }
  }
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.forum-thread-outer {
    width:40%;
    padding: 1%;
    background-color: var(--color-2);
    border-color: var(--color-1);
    border-width: 4px;
    border-style: solid;
    margin-top: 10px;
}

.forum-thread {
    display: block;
    width:100%;
    padding: 1%;
    background-color: var(--color-2);
    font-size: 30px;
    color: white;
    text-decoration : none;
}

.thread-comment {
    background-color: white;
    border: solid;
    border-radius: 10px;
    border-color: lightgray;
    width: 90%;
    padding: 8px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
 }

 #thread-container {
     display: flex;
     flex-direction: column-reverse;
     height: 500px;
     overflow-y: scroll;
     width: 50%;
 }

 #all-threads-container {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
 }
