:root {
    --color-1: #97BCC7;
    --color-2: #6297a7;
  }

  body{
    background-color: #F2F1EF;
    font-family: "Helvetica",sans-serif;
    margin: 0px;
  }
  .top-bar{
    background-color: #97BCC7;
    padding: 1% 2%;
    margin: 0;
    overflow:auto;
  }
  .main-menu{
    list-style-type: none;
  }
  
  .top-bar h3{
    display: block;
    float: left;
    font-size: 150%;
    margin-left: 5%;
    margin-right: 2%;
    color: #053D57;
  
  }
  
  .main-menu li a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding:  2px;
  }
  
  .main-menu li {
    float:left;
    margin: 1%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #F2F1EF;
  }
  
  .main-menu li:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  .main-menu .active{
    background-color: rgb(204, 204, 204);
  }
  
  @media (min-width: 768px) {
      .main-menu li {
      padding: 0.25em 0.75em;
    }
  }
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.forum-thread-outer {
    width:40%;
    padding: 1%;
    background-color: var(--color-2);
    border-color: var(--color-1);
    border-width: 4px;
    border-style: solid;
    margin-top: 10px;
}

.forum-thread {
    display: block;
    width:100%;
    padding: 1%;
    background-color: var(--color-2);
    font-size: 30px;
    color: white;
    text-decoration : none;
}

.thread-comment {
    background-color: white;
    border: solid;
    border-radius: 10px;
    border-color: lightgray;
    width: 90%;
    padding: 8px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
 }

 #thread-container {
     display: flex;
     flex-direction: column-reverse;
     height: 500px;
     overflow-y: scroll;
     width: 50%;
 }

 #all-threads-container {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
 }

 .content{
     padding: 2% 20%;
 }

 #todo-list{
     list-style-type: none;
 }
 .content li{
    margin: 20px 0;

 }

 .content button{
    background-color: #fbeee0;
    border: 1px solid #422800;
    border-radius: 15px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 50px;

 }
 

.content button:hover {
  background-color: #fff;
}

.content button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .content button {
    min-width: 120px;
    padding: 0 25px;
  }
}


.group-id-container {
    background-color: lightgray;
    font-family: monospace;
    font-size:14px;
    display:inline-block;
    width: 20%
}


.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
	
	&--primary {
		
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
		border-radius: 2px;
		padding: 12px 36px;
		
		/* &:hover {
			background: darken($button-bg-color, 4%);
		} */
		
		/* &:active {
			background: $button-bg-color;
			box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
		} */
	}
	
	&--inside {
		margin-left: -96px;
	}
}

.input-text {
		width: 360px;
		background: #fff;
		color: $input-text-color;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
		padding: 22px 18px;
	
}


 